body {
	background-color: #e5e5e5 !important;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 5s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	0% {
		transform: rotate(0deg);
	}
	10% {
		margin-right: 100px;
	}
	20% {
		margin-left: 300px;
	}
	30% {
		margin-top: 1000px;
	}
	50% {
		margin-bottom: 100px;
	}
	60% {
		margin-left: 400px;
	}
	70% {
		margin-bottom: 700px;
	}
	80% {
		margin-right: 670px;
	}
	90% {
		margin-top: 400px;
	}
	100% {
		margin-left: 1000px;
	}
}
/* @keyframes App-logo-spin {
	0% {
		transform: rotate(0deg);
		/* margin-left: 1000px; */
/* } */
/* 100% { */
/* transform: rotate(360deg); */
/* margin-left: 0; */
/* } */
/* } */
