body {
	background-color: #e5e5e5 !important;
}

.App {
	text-align: center;
}

.leaflet-container {
	width: 100%;
	height: 80vh;
	z-index: 999999;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 5s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* @keyframes App-logo-spin {
	0% {
		margin-left: 1000px;
	}
	100% {
		margin-left: 0;
	}
} */
@keyframes App-logo-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
